[2020-11-20 17:11] dauwhe opened #2 "Writing shorthand tests"
Brady mentioned the idea of a JSON file for test structure and metadata that would be processed into a test EPUB.

I wonder if XML might be more appropriate, just because almost all EPUB documents are XML-based. I was playing around with a test for a package version attribute less than three.

The idea here is you can specify exactly what you want to test, but some script will fill in all the boil

[2020-11-20 18:16] dauwhe commented on #2
Same idea. Script can turn this into an EPUB, as we don't need a customized package file.

[code]

[2021-01-05 16:53] dauwhe opened #6 "testing processing of XML Names"
An EPUB Reading System "[MUST be a conformant processor](https://w3c.github.io/epub-specs/epub33/rs/#confreq-rs-xml-ns) as defined in [XML-NAMES](https://www.w3.org/TR/xml-names/)."

Looking at XML Names, we find

I suppose this means we write some tests with element names like `p::p`. But this all means that an EPUB Reading System is obligated to report a very technical error to the end user.

**

[2021-01-05 17:06] dauwhe commented on #6
So... made a tiny test with a `p::p` tag in the content doc. Apple Books, Thorium, and ADE 4.5 showed the parse error:

<img width="489" alt="Screen Shot 2021-01-05 at 12 06 00 PM" src="https://user-images.githubusercontent.com/5687700/103675842-670ed200-4f4e-11eb-8eca-86584b2e8ef9.png">

Calibre did not complain in any way. So I guess it's a useful test if it highlights differences amongst readin

[2021-01-11 22:05] dauwhe opened #8 "Testing Linked Metadata Records"
Which reading systems use linked metadata records?

What record formats do they support? ONIX? MARC? Schema.org in some serialization?

We could override the book title in a linked resource, and see if it works :)

What are we trying to prevent here? Would the package doc link to, um, another package document that contains conflicting FXL metadata?

[2021-01-12 01:00] mattgarrish commented on #8
A different serialization of it, I believe, yes. Wasn't this to avoid any confusion about precedence when we expected to define a web-friendly json version?

The closest we have now is a pub manifest, which isn't specifically defined for rendering, but in theory something like a conflicting page progression direction shouldn't override the package document.

I wouldn't call it a realistic test sce

[2021-01-14 03:03] #2 closed

[2021-09-21 13:58] iherman opened #28 "Do we want to list test authors in an acknowledgement section?"
The title tells it all... I can easily extend the automatic generation scripts by collecting the creator metadata from the package document alongside the attributes that are to be extracted anyway. The script would then create an acknowledgement section into the test description document.

Should we do this?

@dlazin @dauwhe @wareid

[2021-09-21 17:48] dlazin commented on #28
I think it's a nice idea — a small incentive for people to write tests. Spec editors are listed at the top of the spec, so listing test authors makes sense.

[2021-09-22 04:47] iherman commented on #28
Would you want to add them as editors of the test program in the header? That would be a bit more complex (not all test authors are necessarily members of the WG and any editor is supposed to be). I thought of having a separate section either at the beginning or the end of the test description file listing the names as contributors.

[2021-09-22 13:13] dauwhe commented on #28
+1 to this idea

[2021-09-23 05:02] #28 closed

[2021-09-24 16:55] wareid opened #38 "Fixed Layout Properties Tests"
Working on tests for the fixed layout properties.

fxl-properties-001 (PR #33)
fxl-properties-002 (PR #37)
fxl-properties-003 (PR #91)
fxl-properties-004 (PR #94)
fxl-properties-005
fxl-properties-006
fxl-properties-007
fxl-properties-008
fxl-properties-009
fxl-properties-010

[2021-09-25 02:11] dlazin opened #39 "Test obfuscated resources (fonts)"
I will test the following normative statement:

https://www.w3.org/TR/epub-rs-33/#confreq-ocf-fobfus
Reading Systems MUST support deobfuscation of resources as defined in Resource Obfuscation [EPUB-33].

[2021-10-20 15:26] m22chan opened #53 "Test RS processing of data URLs"
This test the normative statement found at:

https://www.w3.org/TR/epub-rs-33/#confreq-rs-data-urls
Reading Systems MUST prevent data URLs [RFC2397] from opening in top-level browsing contexts.

[2021-10-20 19:53] m22chan opened #56 "Test RS processing of linked metadata record in package document"
I'll write a test for this normative statement:

https://w3c.github.io/epub-specs/epub33/rs/#sec-linked-records
In the case of a linked metadata record [EPUB-33], Reading Systems MUST NOT skip processing the metadata expressed in the Package Document and only use the information expressed in the record.

The test also relates to:

https://w3c.github.io/epub-specs/epub33/core/#sec-linked-records
EP

[2021-10-21 20:24] dlazin opened #58 "Test confreq-nav-toc-access (navigation documents with only one link)"
Apple Books does not display the navigation (Table of Contents) unless there are at least two links; I assume the thinking is that there's no need for navigation if you're already looking at the only thing. That's sensible UI logic, but does seem to contravene this normative statement:

https://w3c.github.io/epub-specs/epub33/rs/#confreq-nav-toc-access

In a previous PR, I modified all the nav tes

[2021-10-21 20:28] dlazin opened #59 "Test package documents with arbitrary filenames"
https://w3c.github.io/epub-tests/#container-default-rendition_arbitrary tests package documents in an arbitrary directory (`FOO/BAR/package.opf`), but we don't have any tests of packages with arbitrary *filenames* (`foo.opf` and maybe `foo.bar` or just `foo`).

That should be added as an additional test case for https://w3c.github.io/epub-specs/epub33/rs/#container-default-rendition ("A Reading Sy

[2021-10-29 15:19] dlazin opened #66 "Clarify what's invalid in confreq-rs-xml-nval_invalid"
I added metadata to https://github.com/w3c/epub-tests/blob/main/tests/confreq-rs-xml-nval_invalid/OPS/package.opf (and renamed it, formerly `xml-non-validating-parser-002`), but it wasn't clear to me *what*'s invalid in that test. Please clarify the test description and name, and possibly rename the test directory (and update test references in the spec).

By comparison, https://github.com/w3c/epu

[2021-10-30 07:56] iherman opened #68 "Should we add a 'rights' entry to the metadata?"
This issue came up during the [2nd vF2F day](https://www.w3.org/publishing/groups/epub-wg/Meetings/Minutes/2021-10-29-epub): we may want to add a metadata item into the `package.opf` file, namely:

[code]

The reason is that some reading systems will have to put a copy of the tests into another public space for testing, and the questions on rights may arise.

(Caveat: we would have to add this lin

[2021-10-30 07:58] iherman commented on #68
@wseltzer your reaction on this would be important!

[2021-10-30 13:36] iherman commented on #68
If we want to be complete, we can also add a 'rightsHolder' term, too, pointing at W3C.

[2021-11-02 16:45] iherman commented on #68
While this would be correct in terms of DC data, epubcheck complains; it is not an allowed metadata item.

I have a code on my machine which seems to be ready to go to regenerate all the tests with the rights metadata added. Should I?

@dauwhe @wareid @dlazin

[2021-11-02 17:25] wseltzer commented on #68
@iherman can you share a pointer to a bit more description? What is it we'd be asserting with that statement?
It seems uncontroversial if it's just linking the terms of the license.

[2021-11-02 17:54] mattgarrish commented on #68
It's not an element in the DC set, if that's what you mean, but there's no reason you can't specify these as rel values on a `link`:

[code]

`meta` tags always strike me as ugly for URLs, but you could do it that way, too:

[code]

[2021-11-02 19:39] dlazin commented on #68
I am cool with putting such metadata in every package. But are you talking about writing it programmatically as some sort of post-processing, or just a bulk GitHub edit? Bulk edit sounds good to me. I am uncomfortable with writing things into the EPUBs that are not visible in the uncompiled source, though.

[2021-11-03 10:08] iherman commented on #68
Apologies @wseltzer, I should have add some explanations indeed.

The WG is developing a bunch of EPUB 3 Tests[1]; each test is a separate epub file. As discussed on our last vF2F[2] and the issue that surfaced is that, to perform the testing, reading system developers may have to make a copy of all tests and incorporate them in their usual publication pipeline. In some cases this means that these

[2021-11-03 10:10] iherman commented on #68
indeed, I got that wrong. But I can indeed use the meta element; for symmetry, I will use it for both statements.

Thx

[2021-11-03 10:12] iherman commented on #68
A bulk edit. I have now a script running on my machine which modifies the metadata section of each test 'directory' and, through a separate step, all the directories are used to generate new epub files. Ie, if we agree with us doing this, there will be one super-mega PR with all the tests modified...

[2021-11-03 15:22] dlazin commented on #68
Sure, go for it! I don't have any open edits at the moment, so no merge concerns.

[2021-11-03 16:12] iherman commented on #68
It will still take 1-2 days to finalize things on my end, though. But, for the time being, it is code development and I do local tests (not on the real tests) yet. So if there is a merge done on the repo, I can handle it.

[2021-11-04 16:54] dauwhe commented on #66
That's a really good question. Working on it :)

[2021-11-04 19:51] dauwhe commented on #66
Ah, I think it got merged before it was finished. The idea was to have at least some sort of test of the requirement that EPUB reading systems be "conformant, non-validating parsers" for XML. So the test comments out the nav element in the spine, to make sure the reading system understands XML comments. Not the most exciting test in the world.

[2021-11-05 15:28] dlazin opened #72 "What does the spine have to do with confreq-rs-foreign_image?"
The description for https://w3c.github.io/epub-tests/#confreq-rs-foreign_image is:

The first half makes sense as a test for https://w3c.github.io/epub-specs/epub33/rs/#confreq-rs-foreign, but I don't understand how the spine is involved. Is the spine part irrelevant, or, if not, should this perhaps be two separate tests (image fallback and resource-not-in-spine fallbacks)?

See https://github.com

[2021-11-05 15:41] dauwhe commented on #72
The fallback mechanism works in two situations: one is for putting non-CMT resources in the spine, and then falling back to those. The other is providing fallbacks for non-CMT resources that are embedded in regular EPUB content documents. This test is for the latter situation. I expect the code paths for these in reading systems would be really different, if in fact any reading system did this.

[2021-11-07 09:42] #68 closed

[2021-11-07 22:24] dlazin commented on #8
Matthew seems to be working on this in https://github.com/w3c/epub-tests/pull/57.

[2021-11-07 22:25] dlazin commented on #6
This is (at least somewhat) tested:
https://w3c.github.io/epub-specs/epub33/rs/#sec-epub-rs-conf-xml

Should we close this issue? I vote yes, and so will do it, but reopen if more is needed.

[2021-11-07 22:25] #6 closed

[2021-11-09 13:05] iherman opened #74 "Additional metadata for MUST and SHOULD?"
At the moment, all our tests are related to MUST statements but, eventually, we may also have tests for SHOULD-s. The distinction is significant for reporting: for the CR->PR transition, we will have to report the required number of implementations, whereas no such requirement exists for SHOULD-s. This difference must be clearly noted on the test report and this leads to the necessity to provide t

[2021-11-09 13:12] iherman opened #75 "Give a visual clue in the report as for the document being tested?"
Although we concentrated on RS tests, we will have to report on three rec-track documents. Putting aside the issue on whether the current test harness can cover all requirements in the various document, the current report gives very little clue on the "origin" (apart from links to the relevant statement). We could:

* add three columns for each test in the test description tables referring to the

[2021-11-09 20:47] dlazin commented on #74
I'm still thinking about this, but we do have at least *some* SHOULD tests already. Here's one:
https://w3c.github.io/epub-specs/epub33/rs/#sec-pkg-doc-pub-identifiers

[2021-11-09 20:50] dlazin commented on #75
Hmm, I was thinking we didn't have to worry about this, but could be because I misunderstand the process. I was imagining:

1) We present pages like https://w3c.github.io/epub-specs/epub33/rs/#sec-pkg-doc-pub-identifiers to the reviewers, demonstrating that ~every statement has a test.

2) https://w3c.github.io/epub-tests/ demonstrates that all the tests pass in at least 2 RSes (and, where they do

[2021-11-10 08:27] iherman commented on #74
and, if we want to use this resource more widely than just the CR transition, then we should indeed have them...

[2021-11-10 08:32] iherman commented on #75
The fundamental issue is that reviewers should (easily) see that we aren't only testing the RS specification, but the core and a11y, too. This information is not readily available in the test report only.

But, maybe, it is indeed enough if we point them to the editors' drafts that shows the existence of the tests if they are in doubt, and I am being too cautious :-)

[2021-11-12 21:21] dlazin opened #77 "Test publication resource internationalization"
This whole section needs tests:
https://w3c.github.io/epub-specs/epub33/rs/#sec-epub-rs-i18n

There are some similar tests in https://w3c.github.io/epub-tests/#sec-internationalization-data, but more are needed to satisfy this section.

[2021-11-12 21:22] dlazin commented on #77
(I am not currently claiming these tests myself — this is just a tracking bug. If I claim these I will assign the issue to myself; until then anyone can grab this.)

[2021-11-12 21:28] dlazin opened #78 "Test parsing relative URLs"
I will test this:
https://w3c.github.io/epub-specs/epub33/rs/#sec-pkg-doc-relative-urls

[2021-11-12 22:01] dlazin opened #80 "Test duplicate spine items"
These three normative statements need tests:
https://w3c.github.io/epub-specs/epub33/rs/#confreq-rs-pkg-duplicate-item-rendering

I am not claiming these tests yet; this is just a tracking bug. Anyone may snag this bug so long as it remains unassigned.

[2021-11-18 16:35] iherman opened #82 "Tests on the rendition properties"
I will create tests for the [Rendition flow properties](https://www.w3.org/TR/epub-rs-33/#flow) (see also [in the content document](https://www.w3.org/TR/epub-33/#flow)).

---

Note, for the record, that these tests are not really my own. I looked at the old [IDPF test suite for 3.0](https://github.com/IDPF/epub-testsuite) to see whether and how those tests can be repurposed by adapting them to 3.

[2021-11-18 16:44] dlazin commented on #82
Is this different from what Wendy's working on in https://github.com/w3c/epub-tests/issues/38? Suggest checking with her. (That issue could use more context.)

[2021-11-18 16:59] iherman commented on #82
Yes it is. It is not related to fixed layouts, it is on whether content is paginated or scrolling, essentially.

[2021-11-18 18:01] dlazin commented on #80
Too late for everyone else! Now I AM claiming these.

[2021-11-18 22:02] dlazin opened #83 "Test prefix URL expansion"
There are four normative statements of this flavor:

https://w3c.github.io/epub-specs/epub33/rs/#meta

They need tests, but how do we test this? What does passing look like? What does failing look like?

[2021-11-18 22:21] dauwhe commented on #83
I don't know what tests would look like. One problem is that most of the values in the default namespace have no observable effects.

Taking an example from the core spec:

[code]

Say the reading system puts the `identifier-type` in the correct default  namespace. How would I ever know?
Say the reading system puts the `identifier-type` in the wrong namespace. How would I ever know?

***

The best

[2021-11-19 00:49] dlazin commented on #58
I claim!

[2021-11-19 01:36] dlazin commented on #53
There are now two normative statements here, and I think they both need tests:

https://w3c.github.io/epub-specs/epub33/rs/#sec-epub-rs-conf-data-urls

[2021-11-19 12:22] iherman commented on #75
Thinking about this further, this may indeed be unnecessary at this point. Withdrawing, i.e., closing the issue without further actions.

[2021-11-19 12:22] #75 closed

[2021-11-19 15:22] #58 closed

[2021-11-19 20:58] #80 closed

[2021-11-23 15:51] #82 closed

[2021-11-23 15:58] #59 closed

[2021-11-25 12:58] #74 closed

[2021-12-01 15:20] m22chan commented on #8
Hi everyone, the test merged in #57 assumes the linked metadata is ONIX. Is is only intended to test:

The test book I submitted isn't reflective of any real scenario that I could see in the publishing industry - I'll admit, haha.

[2021-12-01 15:59] m22chan commented on #53
Ah, I see. So we need something specifically for:

I can make a test book with 2 content documents in the spine.
First content document explains test and contains data: URL version of an SVG.
Second content document contains just text.
Test passes if the RS displays the test book as _two_ top-level content documents - i.e. page 1 and page 2, without inserting a page in between for the SVG.

[2021-12-02 17:48] dlazin commented on #83
Example 72 here might be a good test:
https://www.w3.org/TR/epub-33/#d-1-2-the-property-data-type

That is, put in `<item … properties="mathml"/>` and `<item ... properties="http://idpf.org/epub/vocab/package/item/#mathml"/>` and `<item />` (containing MathML, but undeclared) and see if the first two work but the third does not.

(If the third one still works without the property being declared, t

[2021-12-06 08:06] iherman opened #99 "`epubReadingSystem` object test"
I will try to come up with those.

@dlazin, this is a new category of tests, I believe; we may want to agree on the naming upfront (and not at PR time). My proposal:

- Coverage Label: `Scripting`, to be added between the current labels of `Content Documents` and `Navigation Documents`
- Test names: `scr-epubReadingSystem-*` where '*' will probably say "properties" and "features" (I believe I can

[2021-12-09 16:55] #38 closed

[2021-12-15 16:47] clapierre opened #101 "Color Contrast issue with "should"'s"
In the current table view of all the issues the Must issues all look fine, but the "Should" issues seem like they are grayed out which makes it hard to read and fails WCAG 2.4.3 for normal text size fonts.

Since we have the column for "Req" containing Must/Should etc. we don't really have to also visually gray out these rows.
Now perhaps just the words "Must" "Should" etc could had a different ba

[2022-01-12 01:01] Jeffxz opened #106 "How to present different result regarding to different web browser"
The use case is for such as mathml support some reading system has dependency on web browser to support so we will need a way to present "mathml can be supported on Safari" and "mathml can not be supported on chrome" for some web based reading system. I wonder if there is a way to present this difference.

[2022-01-12 15:47] dlazin commented on #106
I think this is addressed by @iherman 's comment https://github.com/w3c/epub-tests/pull/102#discussion_r782732607, and thus by your https://github.com/w3c/epub-tests/pull/105 (which implements his suggestion correctly).

Is that sufficient (so that we can close this issue), or am I misunderstanding some subtlety?

[2022-01-12 16:02] iherman commented on #106
👍

[2022-01-12 18:13] Jeffxz commented on #106
Thanks @dlazin. Yes lemme close this one.
Also, in today's CG meeting you mentioned there might be some candidate for test cases to implement. Can you pls point me where I could find it? I think can get some time to write some test. Creating test contents is also fun!

[2022-01-12 18:13] #106 closed

[2022-01-13 05:48] iherman commented on #106
I do not think we have an explicit list (I may be wrong on that). However, a neat trick is as follows. If you go to the editors' drafts of a spec, say, the [RS spec](https://w3c.github.io/epub-specs/epub33/rs/), for a number of _MUST_ statement (say, in https://w3c.github.io/epub-specs/epub33/rs/#sec-pub-resources) you will see a small pull down menu denoted as 'tests'. Those refer to the number a

[2022-01-13 12:02] Jeffxz commented on #106
awesome. Thanks @iherman. lemme read through. Someitem I might be able to help write test that wysebee can use as well.

[2022-01-13 13:05] #99 closed

[2022-01-21 15:01] iherman opened #109 "New I18N test on package vs. publication resource directionality testing"
Planning to test:

[2022-01-25 14:37] iherman opened #111 "List item numbering style not affecting TOC rendering"
Testing the statement:

See https://w3c.github.io/epub-specs/epub33/rs/#sec-nav

[2022-02-02 13:28] #109 closed

[2022-02-02 17:04] #111 closed

[2022-02-04 16:55] iherman opened #114 "Basic Media Overlay testing"
I will do a basic MO test that may serve as a starting point for additional tests. Avoiding a mega PR I will do one with a single test to agree on the 'styles' (naming, file patterns, etc).

Cc: @marisademeglio I used your MO tests on the idpf test suite, to extract an individual, smaller test.

[2022-02-08 10:37] #114 closed

[2022-02-12 16:30] Jeffxz opened #120 "Test external links"
I will test the following normative statement:

https://w3c.github.io/epub-specs/epub33/rs/#sec-epub-rs-external-links

Reading Systems SHOULD open links that resolve outside the [EPUB Publication](https://www.w3.org/TR/epub-33/#dfn-epub-publication) in a new browser instance to ensure that the security and privacy controls of the browser are available to users.

[2022-02-16 16:36] iherman opened #121 "TTS fallback of Media Overlay"
Will prepare a test for the [Text-to-Speech](https://w3c.github.io/epub-specs/epub33/rs/#sec-text-to-speech) section.

[2022-02-18 15:59] iherman opened #123 "Embedded Media for Media Overlay"
Will look at testing of the [Embedded audio and video section](https://w3c.github.io/epub-specs/epub33/rs/#sec-embedded-media) of the RS spec.

[2022-03-02 08:32] iherman opened #128 "Additional tests on OCF URL handling"
The current tests cover how that the Reading system will find the listed in the spine. Necessary, but not enough; I intend to add some more tests that on the way the RS resolves URL-s within the HTML file, i.e., the way they use URL resolving for the webview they use.

[2022-03-15 10:41] iherman commented on #128
All done (via two different PR-s)

[2022-03-15 10:41] #128 closed

[2022-03-15 10:42] iherman commented on #123
Done

[2022-03-15 10:42] #123 closed

[2022-03-17 03:12] Jeffxz commented on #120
Should I close this one since test is added?

[2022-03-27 13:11] murata2makoto opened #135 ""MUST implement the "scrolled-doc" presentation mode" in 4.4 of EPUB 3.3 RS"
This requirement does not have any tests.

[2022-05-13 09:36] #101 closed

[2022-05-13 15:34] dlazin opened #141 "Test CSS support for SVG content documents"
Test this normative statement:
https://w3c.github.io/epub-specs/epub33/rs/#confreq-svg-rs-css

[2022-05-13 15:54] dlazin opened #143 "Test (non-obfuscated) webfonts"
Test this normative statement:
https://w3c.github.io/epub-specs/epub33/rs/#confreq-css-rs-fonts

[2022-05-14 13:17] #143 closed

[2022-05-14 13:18] #141 closed

[2022-05-23 04:49] iherman commented on #120
@Jeffxz closing this indeed

[2022-05-23 04:49] #120 closed

[2022-05-24 16:03] iherman opened #147 "Missing I18n tests"
I will take care of the missing i18n tests (ie, rows 2-5 of the [missing tests' sheet](https://docs.google.com/spreadsheets/d/13wgptApSVbQbYzi2L5VXe3D_1QLzJOTGySUAtOxn4sA/edit#gid=0)).

[2022-05-25 18:14] marisademeglio opened #151 "basic MO audio rendering test tests more than basic MO audio rendering"
In addition to if an audio clip is played from clip start to clip end, it also tests if the text is highlighted and if the reading system has a button to start playback (which is technically not a requirement, if the RS just started playback automatically we would still say it supports MO).

The relevant commit is https://github.com/w3c/epub-tests/commit/631baf09fe6eb2003703e29092e8063e9cbf2f06

[2022-05-25 19:34] dlazin commented on #151
Yeah, I just copied from Ivan's earlier MO tests, like https://github.com/w3c/epub-tests/blob/main/tests/mol-audio-exceeding-clipend/EPUB/content_001.xhtml. I'm very much open to changing it (and making all the MO tests consistent), just need to decide on the standard language. @iherman thoughts?

[2022-05-26 07:25] iherman commented on #151
I agree with @marisademeglio that it uses the CSS part. The reason it was added/kept in the tests was, I believe, to make the test's evaluation easier to testers, and I think it is important, too. Note that the xhtml text says, in the description of the testing result:

What I meant here is to help the evaluator but if the system does not highlights the active text (ie, the system does not highlig

[2022-05-28 15:41] Jeffxz opened #153 "Test OCF ancillary manifest"
I will test

from https://w3c.github.io/epub-specs/epub33/rs/#sec-container-metainf-manifest.xml

[2022-05-28 17:20] Jeffxz commented on #153
PR for adding test can be found here https://github.com/w3c/epub-tests/pull/154
PR to add test reference can be found here https://github.com/w3c/epub-specs/pull/2314

[2022-05-28 17:49] Jeffxz opened #155 "Test OCF other files in meta-inf folder"
I will add test for following statement.

https://w3c.github.io/epub-specs/epub33/rs/#sec-container-metainf-inc

[2022-05-28 17:57] Jeffxz commented on #155
PR for test case can be found here https://github.com/w3c/epub-tests/pull/156
PR for adding test reference can be found here https://github.com/w3c/epub-specs/pull/2315/commits/d743ba574478c54de5b242bdf9ad06d8e0f87119

[2022-06-01 14:02] iherman opened #158 "Is this a valid test for prefix mapping?"
There is a statement [in the RS document](https://www.w3.org/TR/epub-rs-33/#sec-pkg-doc-manifest):

@dlazin wonders whether this (and similar) statements can be tested in the first place.

I tried to come up with a testing strategy and, before I put it into the test suite, I wanted to check whether this is indeed a good test.

**Version 1.** I create a simple test with a single content file, but w

[2022-06-01 15:34] iherman commented on #158
No, in the first version the prefix is defined for the default, official URL, ie, `http://idpf.org/epub/vocab/package/item/#`!

[2022-06-01 16:08] iherman commented on #158
I am sorry, I was not clear. I created _two_ EPUB instances: version 1 and version 2. The first EPUB is using the prefix with the official URL, the _second_ EPUB is using it with `example.org`. What I am saying is that a RS should display the _first_ EPUB just as if the prefix was not used at all because, after all, the prefix is "just" defining what the default URL mapping would do anyway. The pr

[2022-06-02 06:59] iherman commented on #158
*If* it is not required to resolve the prefix, then this should be made clear somehow. The current text suggests (at least for me, but I am of course biased by my RDFa past) that the prefix mechanism is in place in the package document, and the _MUST_ statements in the RS specs certainly suggest the same...

[2022-06-02 10:44] mattgarrish commented on #158
I'll have a look this morning, but I was expecting it was one of those situations where if you resolve the CURIEs, then here are the requirements for doing so.

We never wanted to burden reading systems with that processing, only provide a pathway for moving between our quasi-RDFa and real RDFa. It was also to allow translation between the package metadata and a "real" format in the future with mi

[2022-06-02 10:47] mattgarrish commented on #158
I'll open an issue in the main tracker, too, as we should probably find out how reading system devs have interpreted this.

[2022-06-02 10:53] iherman commented on #158
B.t.w., I tested these on a RS (Thorium) and it failed on version 1. It clearly did not recognize the nav file with the prefix URL.

[2022-06-02 16:31] iherman opened #159 "testing scrolled-doc and scrolled-continuous for rs with scripting support"
Statements in [§6.4](https://w3c.github.io/epub-specs/epub33/rs/#sec-scripted-content).

[2022-06-08 07:09] danielweck opened #161 ""publisher" metadata is present in the OPDS feed, not in `package.opf`"
https://github.com/w3c/epub-tests/blob/fcd9a4fce472e200b759a1cd78eb028731d52066/src/lib/opds.ts#L81

vs.

https://github.com/w3c/epub-tests/blob/447aa8d1cf792bc66c05279726d54ee476f8bb4f/tests/cnt-css-fonts/EPUB/package.opf#L3-L15

Suggestion: add `<dc:publisher>W3C</dc:publisher>` to match the metadata of the OPDS feed.

ping @iherman https://github.com/w3c/epub-tests/pull/157

[2022-06-08 07:18] danielweck commented on #161
Note the lack of "publisher" info in Thorium's local bookshelf (column on the right hand side):

![Screenshot 2022-06-08 at 07 56 19](https://user-images.githubusercontent.com/625201/172555478-1e1856c6-1e0f-4654-ad46-ccd58bde1aa4.jpg)

[2022-06-08 09:30] iherman commented on #161
@danielweck just to understand: you mean I should add an xml fragment as a value of the key, ie,

[code]

or should it be

[code]

My JSON-LD/RDF instinct tell me I should do the latter, but it is not clear from the spec...

[2022-06-08 10:54] danielweck commented on #161
The metadata is missing in `package.opf` XML files. The OPDS feed is fine.

[2022-06-08 10:57] iherman commented on #161
Oops, sorry, I misunderstood you!

Then this is a bug in the tests. Is the list in https://github.com/w3c/epub-tests/issues/161#issuecomment-1149553520 the complete list of tests without publishers? We will have to take care of that in the tests...

cc @dlazin

[2022-06-08 11:04] danielweck commented on #161
The Thorium screenshot only shows a partial list of tests. I believe none of the tests include `<dc:publisher>W3C</dc:publisher>` in `package.opf` metadata.

[2022-06-08 14:38] iherman commented on #161
Actually... it was easy. I have a script that can be used to add new metadata items for all tests in one step... 😀

See #162

[2022-06-10 04:46] #161 closed

[2022-06-10 10:51] #159 closed

[2022-06-10 16:02] iherman commented on #155
closing this issue, since it has all been done. Thanks @Jeffxz

[2022-06-10 16:02] #155 closed

[2022-06-15 17:11] danielweck opened #164 "The "acid" test is not specific enough (not "unit" testing) + fails with typical stylesheet overrides from reading system "user agent" and/or user formatting preferences"
Screenshot from Apple iBooks / MacOS Books.app (same broken rendition with Thorium):

<img width="218" alt="Screenshot 2022-06-15 at 14 34 52" src="https://user-images.githubusercontent.com/625201/173869002-a3cc6268-0e82-433e-9a0e-71cf2c96f626.png">

* Direct HTML link (successful rendering in a "vanilla" web browser, with default user agent stylesheet and no major user styling customisations): ht

[2022-06-15 17:14] danielweck commented on #164
CC @llemeurfr @gautierchomel

[2022-06-15 17:19] danielweck opened #165 "Tests for manifest item fallback, unclear expected outcome"
https://github.com/w3c/epub-tests/blob/9a023cea6d7a34fdce86b28e8f443a8c913f0fd5/tests/pub-foreign_bad-fallback/EPUB/package.opf#L20-L27

In this case, the resulting reading order (i.e. computed spine, once the fallback chain is resolved) is empty if the reading system follows the cascade of unsupported media types. In some reading systems this may cause a crash / broken user interface, in others t

[2022-06-15 17:23] danielweck commented on #165
The expectation is clear with the test that has a specific XML content type:

https://github.com/w3c/epub-tests/blob/9a023cea6d7a34fdce86b28e8f443a8c913f0fd5/tests/pub-foreign_xml-suffix-spine/EPUB/package.opf#L20-L27

... but conversely the "plain" `application/xml` test is problematic because XHTML itself **is** XML, so the description of the expected outcome needs to be clarified:

https://gith

[2022-06-15 17:33] danielweck commented on #165
Similarly with the JSON test, I struggle to understand the criteria for fail vs. pass:

https://github.com/w3c/epub-tests/blob/9a023cea6d7a34fdce86b28e8f443a8c913f0fd5/tests/pub-foreign_json-spine/EPUB/package.opf#L20-L27

Let's say my reading system claims to support `application/json` by displaying its raw contents in the publication viewport, thereby ignoring the fallback XHTML. Is that a pass?

[2022-06-16 15:06] iherman commented on #164
cc @dauwhe @dlazin

[2022-06-16 16:17] dauwhe commented on #164
I'm fine with that. As I mentioned, it was one way of showing that an RS supports "a lot" of CSS, but it is a strange test (and had to be edited to be XHTML, etc.)

[2022-06-17 04:35] iherman commented on #164
I have created a PR to do so (#167).

However, we have now a _MUST_ statement on being conform to CSS that has now corresponding test (actually, we have the statement twice: one in the introductory statement in the paragraph and then one in the core text of [§6.3](https://w3c.github.io/epub-specs/epub33/rs/#sec-css). This contradicts to the requirement for having a test for each _MUST_ statement.

[2022-06-17 08:21] dlazin commented on #164
I agree with removing this; I have similar thoughts, but haven't found time to create a replacement test. Note that I think it's fine to use a basic test for two different normative statements, if it reasonably tests the same things; not as good as having unique tests, but IMO fine. I don't think there's a meaningful difference between "you must support rendering CSS" and "you must support CSS as

[2022-06-17 09:04] iherman commented on #164
me too. But, with the removal of this test, there is no test for the statements in [§6.3](https://w3c.github.io/epub-specs/epub33/rs/#sec-css). Even if we decide to remove the bullet item:

(which I would agree with), we may still to either have, or assign another test, for the statement in the intro part of the section, i.e.,

So far, the acid test was used for both.

[2022-06-17 14:57] iherman commented on #147
Closing this issue without merging by virtue of https://github.com/w3c/epub-specs/pull/2330

[2022-06-17 14:57] #147 closed

[2022-06-23 09:22] iherman opened #171 "RS Section §5.3, statements on link element"
Taking care of those

[2022-07-01 12:16] #171 closed

[2022-07-01 12:21] #164 closed

[2022-07-05 03:06] #153 closed

[2022-07-05 03:07] Jeffxz opened #176 "Test OCF zip file split across multiple storage media"
I will test

MUST treat any [OCF ZIP container](https://www.w3.org/TR/epub-33/#dfn-ocf-zip-container) that specifies the [[zip](https://w3c.github.io/epub-specs/epub33/rs/#bib-zip)] file is split across multiple storage media as in error.

from https://w3c.github.io/epub-specs/epub33/rs/#confreq-zip-mult

[2022-07-11 04:14] xfq opened #177 "License for the tests"
https://github.com/w3c/epub-tests/blob/main/CONTRIBUTING.md

From what I understand, the tests themselves are not part of Recommendation-track documents, and the licenses used for tests elsewhere in W3C (see [1](https://github.com/web-platform-tests/wpt/blob/master/LICENSE.md) and [2](https://github.com/w3c/licenses/blob/main/TEST-LICENSE.md)) don't seem to be using the [Software and Document Lice

[2022-07-11 05:02] iherman commented on #177
Oops. Thanks @xfq for spotting that. What happened is that I used the [automatic procedure](https://labs.w3.org/repo-manager/repo/new) to set up a new W3C repository (which included a "contributing" file) and I never checked this. My mistake.

Indeed, the tests are not recommendation track documents. Note, however, that the tests themselves (which are individual epub instances) are published under

[2022-07-11 05:17] xfq commented on #177
Thanks, Ivan. BTW, in [package.json](https://github.com/w3c/epub-tests/blob/f965f891c8f884cc97605ce9e1566bc667ebb917/package.json#L20) it's the ISC License.

[2022-07-11 06:50] iherman commented on #177
That is all right. The package.json is for the script that runs as a github action and that produces the readable reports.

[2022-07-13 06:25] #177 closed

[2022-07-14 15:07] plehegar commented on #177
Catching up here.

The license for WPT is not a W3C license. It is using its own on purpose (long story short: WPT is not under W3C by design).

As linked above, https://github.com/w3c/licenses/ contains the diverse licenses used by W3C on Github but there is only [one license](https://github.com/w3c/licenses/blob/main/TEST-LICENSE.md) recommended for test suites nowadays.

As such, the repo manag

[2022-07-27 12:41] iherman commented on #83
https://github.com/w3c/epub-specs/issues/2317 and its PR counterpart https://github.com/w3c/epub-specs/pull/2335 seems to make this issue moot. See also https://www.w3.org/TR/epub-rs-33/#sec-vocab-assoc.

[2022-07-27 12:41] #83 closed

[2022-07-27 13:54] iherman opened #183 "Taking care of spine override tests"
Ie, https://w3c.github.io/epub-specs/epub33/rs/#spine-overrides

[2022-07-27 13:55] iherman commented on #158
This has become moot, because the prefix mapping is optional...

[2022-07-27 13:55] #158 closed

[2022-07-27 13:56] iherman commented on #135
Overtaken by events, see https://docs.google.com/spreadsheets/d/13wgptApSVbQbYzi2L5VXe3D_1QLzJOTGySUAtOxn4sA/edit#gid=0

[2022-07-27 13:56] #135 closed

[2022-07-27 13:57] iherman commented on #56
These have been done, issue was not closed...

[2022-07-27 13:57] #56 closed

[2022-07-27 13:57] iherman commented on #176
Test done and merged earlier today.

[2022-07-27 13:57] #176 closed

[2022-07-27 20:54] Jeffxz opened #185 "Test OCF containers that use compression techniques other than Deflate"
I will test

from https://w3c.github.io/epub-specs/epub33/rs/#confreq-zip-comp

[2022-07-28 03:44] iherman commented on #8
Closing' #57 takes care of this.

[2022-07-28 03:44] #8 closed

[2022-07-28 03:45] #66 closed

[2022-07-28 03:46] iherman commented on #77
Tests have already been added, closing...

[2022-07-28 03:46] #77 closed

[2022-08-02 14:42] iherman opened #192 "Taking care of restrictions on container-constrained scripts"
Statements in [§6.4](https://w3c.github.io/epub-specs/epub33/rs/#sec-scripted-content) on not allowing CCScripts to modify the DOM

[2022-08-02 15:02] iherman commented on #185
#188 merged, closing

[2022-08-02 15:02] #185 closed

[2022-08-02 15:06] Jeffxz opened #193 "Test OCF containers with ZIP64 extensions defined as "Version 1""
I will test following statement:

from https://w3c.github.io/epub-specs/epub33/rs/#confreq-zip-64

[2022-08-05 04:41] #183 closed

[2022-08-07 04:39] #192 closed

[2022-08-09 14:06] iherman opened #197 "Completing Loading the media overlay tests"
I take care of completing the missing tests in [§9 Loading the media overlay](https://w3c.github.io/epub-specs/epub33/rs/#sec-behaviors-loadings)

[2022-08-10 13:34] #151 closed

[2022-08-14 04:57] #197 closed

[2022-09-06 15:07] #39 closed

[2022-09-07 04:23] iherman commented on #53
Should have been closed a long time ago by virtue of having merged #54...

[2022-09-07 04:23] #53 closed

[2022-09-13 10:48] mattgarrish opened #220 "Is test pkg-lang_but_not_content checking package document language?"
There is no language declared in the HTML file in this test, so the reading system/webview is going to apply some language to it to resolve the `q` tags.

How do you determine the language applied comes from the package document and not from a default language for the reading system/webview?

Wouldn't a French tester possibly get French quotes because that's what their app defaults to?

[2022-09-13 20:29] iherman commented on #220
In fact, the [HTML spec](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-q-element) is silent on this, and there may be browsers that do not put any quote marks around the content. The [MDN page](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q) says "Most modern browsers implement this by surrounding the text in quotation marks."

So, indeed, the test is a bit shak

[2022-09-13 21:01] mattgarrish commented on #220
Why do we care what a reading system does when the language isn't specified in the content? Isn't it perfectly acceptable in that case to use whatever information it can glean either from the publication or the app environment, assuming it doesn't have a built-in default?

The issue, to me, is that the language in the package document not be used in place of language specifications in the content.

[2022-09-13 21:43] iherman commented on #220
Now you are talking about changing (in a minor way) the spec:-) Do not forget that, per the language tag spec, the value of "unknown" is perfectly fine and that is what the browser is supposed to have (e.g., in the case of the tests) even if, in practice, that does not make too much sense...

I am open to change the spec text, b.t.w., by only specifying that content document's language setting has

[2022-09-14 10:32] mattgarrish commented on #220
I don't want to rewrite it, but isn't it weird that we're straying into handling unknown scenarios in this one case? It's okay to assume information that's possibly less relevant, like from the device, but not to assume any information tied directly to the publication?

I'd expected the rule would be more like:

[2022-09-14 14:23] iherman commented on #220
Technically what you write is fine. I am not sure that a cursory reader would realize that, say, the language value is _always_ "set" for an HTML content, let that be to the value of "unknown" in case no explicit declaration is provided. Maybe this could be made explicit here because, after all, that is the situation that is really non-obvious.

As for the test, ie, the original issue: I think wha

[2022-10-02 23:33] #193 closed

[2022-10-06 10:27] gregoriopellegrino opened #236 "pub-external-links_consent on systems without email software"
The `pub-external-links_consent` test is based on a `mailto` link that opens the email software, but some systems do not manage emails, such as my Kobo eReader.

The result is that clicking on the link does not happen: neither does an alert appear, nor does the email software open.

[2022-10-06 10:32] gregoriopellegrino opened #237 "Differentiate non-applicable tests from untested tests in the report"
I think we had mentioned this at TPAC, but I don't remember if we had arrived at a solution.

Right now in the report we can enter three values: `true`, `false` and `null`.

The thing is that `null`, in my case means either not applicable, or not yet tested (or to be rechecked because there are problems with the reader).

Can it make sense to split these two different pieces of information?

[2022-10-06 14:45] iherman commented on #237
Something _could_ be done, of course (adding an explicit `n/a` value, with `null` becoming the "not tested yet"; whether it is worth the trouble. The trouble being (1) a bit of coding (but that is only my trouble, and I can handle it) and (2) what to do with the test results that are already on site.

The simplest maybe if those who are involved in testing vote with a 👍 or 👎 for adding this or not

[2022-10-06 14:54] wareid commented on #237
I think "n/a" would be a good addition, especially it might help contextualize failures or untested (i.e. the MP4 video test on eink devices which counts as a fail when it really should be n/a). Good for viewers of the results as well.

[2022-10-06 18:11] bduga commented on #237
+1 to n/a.

[2022-10-06 19:36] davemanhall commented on #237
Ditto.  +1 n/a

[2022-10-07 07:04] iherman commented on #237
It seems clear that this would be useful. I will try to change the code accordingly soon. PR to come... (at some point)

[2022-10-07 07:09] iherman commented on #236
... which may mean that this is a n/a for the Kobo Reader. Although I could argue that the reader would have to bring up some warning in case the link remains 'active' in the rendered HTML.

But the question is: is there a sensible external link that would work on Kobo? I expect that even if it was simply a call to https://www.w3.org the result would be the same. Am I wrong (I do not have a kobo r

[2022-10-07 07:09] iherman commented on #220
Closed by virtue of the (merged) PR #223.

[2022-10-07 07:09] #220 closed

[2022-10-07 07:12] gregoriopellegrino commented on #236
From my experience: URLs pointing to websites are opened by an internal browser. A popup appears before opening, alerting the user that an external link will be opened.

[2022-10-09 12:47] #237 closed

[2022-11-02 19:18] rickj opened #245 "Errors when ingesting these files"
When ingesting all of the tests, and using EPUBCheck 5.0.0 beta, these errors were observed:
Error                                       File
fatal epubcheck errors     pkg-version-backward
bad XML markup              pub-foreign_bad-fallback
bad XML markup              pub-foreign_json-spine
XML parsing aborted       pub-xml-external-id
fatal epubcheck errors    pub-xml-names
fatal epubcheck erro

[2022-11-02 19:45] rickj commented on #245
Update... these errors are NOT from EPUBCheck 5.

Details:
pub-xml-external-id
  Error parsing XHTML: parsing aborted
  line: 4
  file: epub://paginated.epub/EPUB/content_001.xhtml
pub-foreign_bad-fallback
  Error parsing XHTML: not well-formed (invalid token)
  line: 1
  file: epub://paginated.epub/EPUB/foo.dmg
pub-foreign_json-spine
  Error parsing XHTML: not well-formed (invalid token)
  line:

[2022-11-02 19:48] dauwhe commented on #245
Several of the tests involve deliberately-invalid EPUBs in order to test aspects of the specification. Some of the deliberate errors are quite extreme, for example to test what happens in fallback chains. I fully expect some of these files to not work in various reading systems--in fact I hope they don't.

[2022-11-02 20:41] rickj commented on #245
should those we expect to fail be identified in the contributing guide for testing?  At least the tester could know to look for other options (like side loading) for testing

[2022-11-03 10:06] iherman commented on #245
I agree. I would think that a very explicit statement should be present in the 'description' field in the package file (which is then taken over on the test description).

@dauwhe, as far as I could see, these are your tests, could you add such descriptions to the metadata? I am afraid if I do those, I may misunderstand the exact goals of the tests...

[2022-11-03 17:12] iherman commented on #245
@dauwhe, if you can't do it I will do something... sometimes in the coming days.

[2022-11-04 05:35] iherman commented on #245
@rickj

I have looked at these. I have created PR #246 adding a remark in the package file of the first two cases, whereby an RS may reject the respective EPUB document altogether. In my view, the RS does pass the test in that case.

I do have a problem with the third case, though. What happens there is that the spine item is a JSON file _but_ a fallback is also specified for it to a bona fide HTM

[2022-11-04 05:48] iherman commented on #245
I was also looking at the other three cases (`pkg-version-backward`, `pub-xml-names`, and ` pub-xml-non-validating_unclosed`): the epubcheck errors are "intentional", too, in the sense that the EPUB documents are indeed meant to be invalid.

I think this falls under a situation we have already discussed elsewhere; these tests are aimed at RS-s that allow sideloading, and they should react in some

[2022-11-09 09:32] toshiakikoike opened #247 "about "-epub-text-combine-horizontal" property"
at /epub-tests/tree/main/tests)/css-epub-text-combine-horizontal/
"-epub-text-combine-horizontal" property are used.
But, I think this property is wrong for EPUB CSS.

if with "-epub-" prefix, then right property is
"-epub-text-combine:horizontal;"
or if latest right property is
"text-combine-upright:all;"

[2022-11-09 14:07] wareid commented on #247
Will take a look! Thanks @toshiakikoike

[2022-11-09 15:28] #247 closed

[2022-11-09 15:29] wareid commented on #247
@toshiakikoike I've added two new tests to the file to address the `-epub-text-combine` case, which is technically deprecated in the specification (why I didn't include it) but it's there to be tested.

These tests don't use the `text-combine-` properties because that would be a test for CSS, not EPUB :).

[2022-11-30 15:03] rickj commented on #245
Finishing up our testing, and applying 'n/a' for files that fail epubcheck, however, for files that pass epubcheck but do not open in a reading system, is 'n/a' the appropriate test result also?